
{% extends "base.html" %}
{% load add_class_accounts from accounts_add_class %}


{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center mb-4">Login</h2>
        <form method="post" class="p-4 border rounded bg-light">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3">
                <label for="username" class="form-label">ユーザー名:</label>
                {{ form.username|add_class_accounts:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">パスワード:</label>
                {{ form.password|add_class_accounts:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <p class="text-center mt-3">アカウントをお持ちでないですか？ <a href="{% url 'accounts:signup' %}">サインアップはこちら</a></p>
    </div>
</div>
{% endblock %}
