
{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}商品一覧{% endblock %}

{% block content %}
    <div class="container mt-5">
        <!-- 商品一覧 -->
        <h2>商品一覧</h2>
    
        <!-- 検索結果がない場合の表示 -->
        {% if products.count == 0 %}
            <div class="d-flex justify-content-center align-items-center flex-column">
                <!-- アイコン部分 -->
                <i class="bi bi-database-exclamation" style="font-size: 4rem; color: #6c757d;"></i>
                <!-- メッセージ部分 -->
                <p class="ms-3" style="font-size: 1.5rem; color: #6c757d; text-align: center;">検索結果はありません</p>
                <!-- ボタンで再検索を促す -->
                <a href="{% url 'products:product_list' %}" class="btn btn-secondary mt-3">検索結果をリセット</a>
            </div>
        {% else %}
            <!-- 検索結果がある場合の表示 -->
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3 mb-4 position-relative">
                        <div class="card hover-effect">
                            <div class="card-img-top position-relative">
                                <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="{{ product.title }}">
            
                                {% if product.status == "sold_out" %}
                                    <!-- SOLDレイヤー（SVGを直接埋め込み） -->
                                    <div class="sold-overlay">
                                        <object type="image/svg+xml" data="{% static 'images/sold_layer.svg' %}" class="sold-image"></object>
                                    </div>
                                {% endif %}
                            </div>
                            
                            <div class="card-body">
                                <h3 class="card-title" style="opacity: 0.8;">{{ product.title }}</h3>
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h6 class="card-text" style="opacity: 0.8;">¥{{ product.price | intcomma }}</h6>
                                    <a href="{% url 'products:product_detail' product.pk %}" class="btn btn-primary btn-sm">詳細を見る</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    

    <!-- デバッグ用にクエリパラメータを表示 -->
    <!-- <p>Request GET内容: {{ request.GET }}</p> -->

    <!-- デバッグ: リクエストパラメータの表示 -->
    <!-- <div>
        <h4>Request GET parameters (Raw):</h4>
        <ul>
            {% for key, value in request.GET.items %}
                <li><strong>{{ key }}</strong>: {{ value }}</li>
            {% endfor %}
        </ul>
    </div> -->

    <div class="pagination">
        {% if object_count <= 12 %}
            <!-- オブジェクトが10個以下の場合の固定リンク -->
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?{{ encoded_query_params }}&page=1" class="page-link">最初</a>
                    </li>
                    <li class="page-item">
                        <a href="?{{ encoded_query_params }}&page={{ page_obj.previous_page_number }}" class="page-link">前へ</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">最初</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">前へ</span>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">1 / 1</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?{{ encoded_query_params }}&page={{ page_obj.next_page_number }}" class="page-link">次へ</a>
                    </li>
                    <li class="page-item">
                        <a href="?{{ encoded_query_params }}&page={{ page_obj.paginator.num_pages }}" class="page-link">最後</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">次へ</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">最後</span>
                    </li>
                {% endif %}
            </ul>
        {% else %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?{{ encoded_query_params }}&page=1" class="page-link">最初</a>
                    </li>
                    <li class="page-item">
                        <a href="?{{ encoded_query_params }}&page={{ page_obj.previous_page_number }}" class="page-link">前へ</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">最初</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">前へ</span>
                    </li>
                {% endif %}
        
                <li class="page-item active">
                    <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                </li>
        
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?{{ encoded_query_params }}&page={{ page_obj.next_page_number }}" class="page-link">次へ</a>
                    </li>
                    <li class="page-item">
                        <a href="?{{ encoded_query_params }}&page={{ page_obj.paginator.num_pages }}" class="page-link">最後</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">次へ</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">最後</span>
                    </li>
                {% endif %}
            </ul>  
        {% endif %}
    </div>


    <!-- 手動でリンクを追加 -->
    <!-- <a href="http://127.0.0.1:8000/products/?%20min_price=&%20max_price=&%20condition=&%20status=sold_out&%20category=&%20title=&%20include_keywords=&%20exclude_keywords=&%20user=&%20exclude_user=&%20page=2">次へ（%20）</a>
    <a href="http://127.0.0.1:8000/products/? min_price=& max_price=& condition=& status=sold_out& category=& title=& include_keywords=& exclude_keywords=& user=& exclude_user=& page=2">次へ（空白）</a> -->


    <!-- ページネーションリンクのデバッグ -->
    <!-- <div>
        <h4>Generated Pagination URLs:</h4>
        <ul>
            {% for key, value in request.GET.items %}
                {% if key != 'page' and value %}
                    <li><strong>{{ key }}:</strong> {{ value|urlencode }}</li>
                {% endif %}
            {% endfor %}
            <li><strong>Page 1 URL:</strong> ?{% for key, value in request.GET.items %}
                                        {% if key != 'page' %}
                                            {{ key }}={{ value|urlencode }}&{% endif %}
                                    {% endfor %}page=1</li>
            <li><strong>Page 2 URL:</strong> ?{% for key, value in request.GET.items %}
                                        {% if key != 'page' %}
                                            {{ key }}={{ value|urlencode }}&{% endif %}
                                    {% endfor %}page=2</li>
        </ul>
    </div> -->

    <!-- ページネーションデバッグ用 -->

    <!-- <p>Request GET contents: {{ request.GET }}</p>

    <div class="a">
        <p>クリーン済み {{ query_params }}</p>
    </div>

    <div class="b">
        <p>空白削除済み: {{ encoded_query_params }}</p>
    </div>

    <div class="c">
        <p>encoded_query_params: {{ encoded_query_params }}</p>
    </div>


    <hr>
    <p>Cleaned query params: {{ query_params }}</p>

    <p>Encoded query params: {{ encoded_query_params }}</p>

    <p>{% if 'page' in query_params %} Page found {% else %} No page parameter {% endif %}</p>

     -->


<!-- CSS -->
<style>

    .a {
        color: red;
    }

    .b {
        color: blue;
    }

    .c {
        color: green;
    }

    .search-box {
        font-size: 1.2rem;
        padding: 0.8rem;
    }

    .search-modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .search-modal-content {
        background-color: white;
        margin: 10% auto;
        padding: 20px;
        border-radius: 8px;
        width: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        animation: fadeIn 0.3s;
    }

    .search-modal-close {
        color: black;
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    .sold-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 45%; /* 親要素にぴったり合わせる */
    }

    .sold-image {
        width: 100%;  /* SVGを画像のサイズに合わせてぴったり配置 */
        height: 100%; /* 同じく高さも合わせる */
    }

    .card-img-top {
        position: relative;
        width: 100%; /* 必要に応じて調整 */
        height: 100%; /* 必要に応じて調整 */
        overflow: hidden;
    }

    /* カードにホバー効果を追加 */
    .card.hover-effect {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card.hover-effect:hover {
        transform: scale(1.05); /* カードが少し広がる（1.05倍） */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 影をつけて浮き上がり感を出す */
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>

<!-- JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const searchModal = document.getElementById('searchModal');
    const toggleAdvancedSearch = document.getElementById('toggle-advanced-search');
    const closeSearchModal = document.getElementById('closeSearchModal');

    toggleAdvancedSearch.addEventListener('click', () => {
        searchModal.style.display = 'block';
    });

    closeSearchModal.addEventListener('click', () => {
        searchModal.style.display = 'none';
    });

    window.addEventListener('click', (event) => {
        if (event.target === searchModal) {
            searchModal.style.display = 'none';
        }
    });
});
</script>
{% endblock %}
